<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Custom Mail Generator</title>
</head>
<body>
    <div class="container">
        <h1>Custom Mail Generator</h1>
        <form method="POST" action="/">
            <label for="ingredients" class="lebel-ing">Subject:</label><br>
            <input type="text" name="ingredients" id="ingredients" placeholder="Enter mail subject"><br><br>
            <button type="submit" id="submit" class="btn" >Enter</button>
        </form>
</body>
</html>